In [ ]:
print("Hello world")

Hello world

In [ ]:
#TASK1

var1 = "I love programming classes"

print(var1[15:23])

print(var1[-33:])

print(var1[1:33:3])

ing clas
I love programming classes
 vpgmncss

In [ ]:
#TASK2

var2 = "Black is my favourite colour, unfortunately the black colour washes out of my clothes"


var2.istitle()

print(var2.startswith("C"))

var3 = var2.replace("Black", "White")

var4 = var3.replace("black", "white")

var5 = var2.replace("Black", "white").replace("black", "white")

False

In [ ]:
var3

'White is my favourite colour, unfortunately the black colour washes out of my clothes'

In [ ]:
var4

'White is my favourite colour, unfortunately the white colour washes out of my clothes'

In [ ]:
var6 = var2.lower().replace("black", "white").capitalize()

In [ ]:
var6

'White is my favourite colour, unfortunately the white colour washes out of my clothes'

In [ ]:
#COLLECTING DATA FROM USER


user_name = input("What is your name?")

What is your name?2325618818948198498gaeiognsegunseruhnseignseu9hnruhnaur9hnar9uhar9hr89hjr8hj

In [ ]:
print(user_name)

2325618818948198498gaeiognsegunseruhnseignseu9hnruhnaur9hnar9uhar9hr89hjr8hj

In [ ]:
user_age = input("How old are you?")

How old are you?18

In [ ]:
user_age

'31'

In [ ]:
user_age + 10

TypeError: can only concatenate str (not "int") to str

In [ ]:
user_age_integer = int(user_age)

In [ ]:
user_age_integer

18

In [ ]:
type(user_age_integer)

int

In [ ]:
user_age_float = float(user_age)

In [ ]:
type(user_age_float)

float

In [ ]:
user_age_float

18.0

In [ ]:
user_age2 = input("How old are you?")

How old are you?im 18 yrs old

In [ ]:
type(user_age2)

str

In [ ]:
user_age2_integer = int(user_age2)

ValueError: invalid literal for int() with base 10: 'im 18 yrs old'

In [ ]:
user_age2.isdigit()

False

In [ ]:
user_age.isdigit()

True

In [ ]:
user_age = "asadasda"

In [ ]:
user_age = "18"

#CONDITIONALS

if user_age.isdigit():
  print("ok")
elif user_age.isupper():
  print("user age is upper")
elif user_age.isalpha():
  print("blabla")
elif user_age.isdigit():
  print("NEW OK")
else:
  print("not ok")

ok

In [ ]:
user_age3 = input("How old are you?")

if user_age3.isdigit():
  user_age3_integer = int(user_age3)
  print(user_age3_integer + 10)
else:
  print("invalid data")

How old are you?serhshsrhshsrh
invalid data